{% extends 'base.html' %} 

{% block content %}
<br>
<br>
<br>
<br>
<div class="row" style="background-image : url('https://bit.ly/39bmyaa');background-size:cover;background-attachment: fixed;background-repeat: no-repeat;background-position: center; height: 400px;">
    <!-- Rotating card -->
<div class="card-wrapper" style="max-height: 50px; width: 300px; margin-left: 900px; margin-top: 15px;">
    <div id="card-1" class="card card-rotating text-center">
  
      
      <!-- Front Side -->
      <div class="face front">
  
        <!-- Image-->
        <div class="card-up">
          <img class="card-img-top" src="https://bit.ly/32BJQVm" alt="Image with a photo of clouds.">
        </div>
  <br>
        <!-- Avatar -->
        <div class="avatar mx-auto white"><img style="height: 70px; width: 70px;" src="https://bit.ly/3eEyLW8" class="rounded-circle"
            alt="Sample avatar image.">
        </div>
      <h5>Join the amazing hood...</h5>
        <!-- Content -->
        <div class="card-body">
          <div class="text-center">
            <h6 style="color:blue;">To join hoods below ,register first</h6>
            <a href="/accounts/register" class="btn btn-default btn-rounded" >REGISTER</a>
          </div>
        </div>
      </div>
      <!-- Front Side -->
 
    </div>
  </div>
  <!-- Rotating card -->

</div>
    </div>
    <!--/.Content-->
  </div>
</div>
<br>
<br>

<div class="row">
    <div class="col-md-4">
    <div class="card card-image" style="background-image: url(https://bit.ly/3eEyLW8);">
  
      <!-- Content -->
      <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
        <div>
          <h5 class="pink-text"><i class="fas fa-chart-pie"></i> KAMPALA</h5>
          <h3 class="card-title pt-2"><strong>Louis Appartments</strong></h3>
          <p>Louis Appartments located in the South of the country with a number of about 300 people is a sense of family.</p>
          <a href="kampala" class="btn btn-pink"><i class="fas fa-clone left"></i>Join Hood</a>
        </div>
      </div>
    
    </div>
    <!-- Card -->
  </div>
  <div class="col-md-4">
      <div class="card card-image" style="background-image: url(https://bit.ly/3hatYxk);">
    
        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5 class="pink-text"><i class="fas fa-chart-pie"></i>MOMBASA</h5>
            <h3 class="card-title pt-2"><strong>Lavish Mirena</strong></h3>
            <p>Lavish Mirena which is located in the Northern part has a number of 150 people who really love to work together.</p>
            <a href="index" class="btn btn-pink"><i class="fas fa-clone left"></i>Join Hood</a>
          </div>
        </div>
      
      </div>
      <!-- Card -->
    </div>
    <div class="col-md-4">
        <div class="card card-image" style="background-image: url(https://bit.ly/2WCtece);">
      
          <!-- Content -->
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div>
              <h5 class="pink-text"><i class="fas fa-chart-pie"></i>CAPE-TOWN</h5>
              <h3 class="card-title pt-2"><strong>Shamir Kantata</strong></h3>
              <p>Shamir Kantata is a lovely hood for individals with small businesses and have a sense of unity.They also believe in togetherness</p>
              <a href="capetown" class="btn btn-pink"><i class="fas fa-clone left"></i>Join Hood</a>
            </div>
          </div>
        
        </div>
        <!-- Card -->
      </div>
  </div>
<br>
<br>
<div class="row" style="background-image: url('https://bit.ly/3jlBlnt'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">
  <div class="welcome" style="height: 300px;text-align: center;margin:0 auto;">
    <h1 style="font-size: 60px; color: white;">ABOUT The-Hood</h1>
    <br>
    <img src="https://bit.ly/2WxzfXV" width="150" height="150" class="rounded-circle" style="border-radius:100%;" alt="avatar">
  </div>
</div>
<div class="row" style="background-color: black;">
  <div class="about" style="height: 200px;text-align:center;margin:0 auto;">
    <br>
    <h3 style="color:white;">The-Hood is a community to connect people living in the same location<br> and provide them a great platform for networking and<br>businesses and also share activities  
    </h3>
  </div>
</div>

<br>
<br>


<br>
<br>
  <div class="row" style="background-image: url('https://bit.ly/39hdy3A'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">
    <div class="welcome" style="height: 300px;text-align: center;margin:0 auto;">
      <br>
      <br>
      <h1 style="font-size: 60px; color: lightcoral;">QUESTIONS?</h1>
      <h3 style="color: white;">Tell us what you think about us and any other concerns<br>Drop a line</h3>
      <br>
      <select class="bg-blue hover:bg-blue-dark text-black font-bold py-2 px-4 rounded-full" id="grid-state">
          <option style="color:black; font-size:18px;">Get Answers</option>
          <option style="color:black; font-size:18px;"> Email: odoyograce@gmail.com</option>
          <option style="color:black; font-size:18px;">Call us: (+254)726294456</option>
        </select>
    </div>
  </div>
  
{% endblock %}